@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

html,
body {
    height: 100%;
}

body {
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;

    /* Background gradient (reflect left and right blue gradient) */
    background-color: #121212;
    background-image:
        linear-gradient(to right, rgba(13, 153, 222, 0.2) 0%, rgba(0, 0, 0, 0) 50%),
        linear-gradient(to left, rgba(13, 153, 222, 0.2) 0%, rgba(0, 0, 0, 0) 50%);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: left center, right center;
    background-attachment: fixed;

    color: #FFFFFF;

    padding: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 64px;
}

header {
    display: flex;
    align-items: center;
    justify-self: center;

    border-radius: 20px;
    height: 70px;
    width: 100%;
    max-width: 1200px;
    gap: 32px;
}

nav {
    background-color: white;
    height: 70px;
    width: 100%;
    border-radius: 20px;

    padding: 0 36px;

    /* To get that space between the menu and the header itself */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    height: 34px;

    /* Gotta fix the alignment of the image itself */
    transform: translateY(2px);
}

/* Styling for the nav menu button */
header button {
    background-color: white;
    height: 70px;
    width: 70px;

    flex-shrink: 0;
    padding: 0;

    border-radius: 20px;

    border: none;
}

button img {
    height: 36px;
}

/* Main body content */
main {
    display: flex;
    flex-direction: column;

    width: 100%;

    /* Limit it so it doesn't span the entire screen width */
    max-width: 1200px;

    gap: 24px;
}

main h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.05em;
}

/* Styling for trello board starts here */
.board {
    display: flex;
    gap: 24px;
}

.column {
    color: #121212;

    background: white;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;

    /* Need to ensure ALL the boxes remain the same width */
    flex: 1 1 0;
    min-width: 0;
}

/* Styling for the column titles (ex. To-Do, In-Progress, Finished) */
.column h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -0.05em;

    color: #121212;
}

/* Styling for the plus button for adding tasks */
.add-task-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    width: 100%;
    height: 40px;
    border: 2px solid rgba(13, 152, 222, 0.2);
    color: #0D99DE;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add-task-btn:hover {
    background-color: #0D99DE;
    color: white;
}

/* This is invisible until you add tasks */
/* Styling for the task list container */
.task-list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    list-style: none;
    min-height: 100px;
    min-width: 0;
}

/* Styling for the task boxes itself */
.task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 18px;

    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: move;
    transition: transform 0.2s ease, background-color 0.3s ease;
    min-height: 20px;

    max-width: 100%;
}

.task:hover {
    transform: scale(1.02);
    background-color: rgba(13, 152, 222, 0.2);
}

.task h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.05em;
}

.task p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
}

/* Needed to allow word wrapping for task body text*/
.task p,
.task h3 {
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
    max-width: 100%;
    line-height: 120%;
}

/* Styling of the add task menu */
.task-input {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;

    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;

    outline: 2px solid rgba(0, 0, 0, 0);
    transition: outline 0.2s ease;
}

.task-input:focus {
    outline: 2px solid #0D99DE;
}

.task-input.title {
    font-weight: bold;
}

.task-input.body {
    min-height: 60px;
    resize: vertical;
    margin-top: 10px;

    white-space: pre-wrap;
    overflow-wrap: anywhere;
    word-break: break-word;
}

/* Styling for the controls for the task boxes (ex. Delete, Add) */
.task-controls {
    display: flex;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
}

.delete-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: rgb(0, 0, 0, 0);
    border: 2px solid rgba(13, 152, 222, 0.2);
    color: #0D99DE;
    font-size: 20px;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: color 0.2s ease, background-color 0.2s ease;
}

/* Had to resize to fit the box */
.delete-btn svg {
    width: 28px;
}

.delete-btn:hover {
    background-color: #de5a0d;
    color: white;
}

.add-btn {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #0D99DE;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.add-btn:hover {
    background-color: #085a83;
}

/* Needed to switch the flex direction to fit mobile/smaller screens */
@media (max-width: 768px) {
    .board {
        flex-direction: column;
    }
}